$white: #FFFFFF;
$violet: #8D81AC;

header {
  height: 100px;
  background-color: #27262A;
  display: flex;
  justify-content: center;

  .logotype {
    display: flex;
    height: 41px;
    margin-left: 60px;

    .logotype-img-hover {
      display: none;
    }

    .logotype-txt {
      color: $violet;
      font-size: 24px;
      margin-top: 8px;
      margin-left: 7px;
    }
  }

  .navbar {
    width: 100%;
    margin-top: 41px;

    a {
      display: flex;
      justify-content: center;

      .navbar-link {
        color: $violet;
        font-size: 16px;
        font-weight: bold;
        margin-left: 43px;
      }

      .navbar-link:hover {
        color: $white;
      }

      #navbar-link-overview {
        margin-left: 0;
      }
    }
  }

  .fa-bars {
    font-size: 26px;
    color: #E5E3E3;
    display: none;
  }

  .buy-now {
    min-width: 145px;
    height: 38px;
    background-color: $violet;
    color: $white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 19px;
    margin-right: 60px;
  }

  .buy-now:hover {
    background-color: $white;
    color: $violet;
    border: 2px $violet solid;
  }

  .logotype, .buy-now {
    margin-top: 30px;
  }
}

.fork-app {
  height: 700px;
  background: url("../img/img@1X.png") center;

  .fork-app-drop-down-menu {
    background-color: #333333;
    margin: auto 15px;
    display: none;
    .fork-app-drop-down-menu-item {
      height: 92px;
      border-bottom: 1px #3B3B3B solid;
      a {
        font-size: 19px;
        color: $white;
        display: inline-block;
        margin-top: 35px;
        margin-left: 33px;
      }
    }
    .fork-app-drop-down-menu-item:hover {
      border-left: 8px $violet solid;
      a{
        color: $violet;
      }
    }
  }

  .fork-app-headings {
    text-align: center;
    padding-top: 60px;

    .fork-app-main-title {
      font-size: 60px;
      color: $white;
      font-weight: bold;
    }

    .fork-app-a-real-game {
      font-size: 22px;
      color: $violet;
      display: inline-block;
      margin-top: 14px;
      margin-bottom: 14px;
    }

    .fork-app-versions {
      font-size: 12px;
      color: #848E97;
    }
  }

  .download-for-free-now {
    text-align: center;
    margin-top: 465px;
    .download-for-free-now-btn {
      width: 390px;
      height: 62px;
      background-color: $violet;
      color: $white;
      font-weight: bold;
      border-radius: 31px;
      font-size: 21px;
    }

    .download-for-free-now-btn:hover {
      background-color: $white;
      color: $violet;
      border: 2px $violet solid;
    }

    .download-for-free-now-limit {
      font-size: 14px;
      color: #848E97;
      display: inline-block;
      margin-top: 19px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 992px){
  header {
    height: 118px;

    .logotype, .buy-now {
      margin-top: 22px;
    }

    .logotype {
      margin-right: 52%;
    }

    .navbar {
      margin-top: 84px;
      position: absolute;
    }
  }

  .fork-app {
    .fork-app-headings {
      padding-top: 50px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 640px) {

  header {

    .logotype {
      margin-right: 34%;
    }

    .navbar {
      a {
        .navbar-link {
          margin-left: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 538px) {

  .fork-app {
    .download-for-free-now {
      margin-top: 439px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  header {
    .logotype-txt,
    .navbar {
      display: none;
    }

    .buy-now {
      margin-left: 70px;
      margin-right: 70px;
    }

    .fa-bars {
      display: block;
      margin-right: 60px;
      margin-top: 37px;
    }
  }

    .fork-app {
      .download-for-free-now {
        margin-top: 440px;
      }
    }
}

@media screen and (min-width: 320px) and (max-width: 400px) {
  header {
    .buy-now {
      margin-left: 50px;
      margin-right: 50px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 352px) {
  header {
    .buy-now {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .fork-app {
    .fork-app-headings {
      padding-top: 43px;
    }
    .download-for-free-now {
      margin-top: 466px;
      margin-left: 20px;
      margin-right: 20px;
      .download-for-free-now-btn {
        text-align: center;
        width: 100%;
        height: 44px;
      }
    }
  }
}