$white: #FFFFFF;
$violet: #8D81AC;

.here-is-what-you-get {
  background-color: #F4F4F4;

  .here-is-what-you-get-heading {
    font-size: 35px;
    font-weight: bold;
    color: $violet;
    margin-left: 544px;
    padding-top: 84px;
  }

  .here-is-what-you-get-list-list-content {
    display: flex;
    justify-content: center;

    .here-is-what-you-get-list {
      margin-top: -40px;

      .here-is-what-you-get-list-part {
        display: flex;
        justify-content: center;

        .here-is-what-you-get-list-part-txt {

        .here-is-what-you-get-list-part-txt-paragraph {
          width: 350px;
          font-size: 15px;
          color: #848E97;
        }
      }

      .txt-1 {
        padding-left: 12px;
      }

      .txt-2 {
        padding-left: 32px;
      }

      .txt-3 {
        padding-left: 48px;
      }

      .txt-4 {
        padding-left: 36px;
      }
    }

    .here-is-what-you-get-list-part {
      padding-left: 50px;
      margin-top: 17px;
    }

    .part-3,
    .part-4 {
      padding-left: 62px;
    }
  }

  .here-is-what-you-get-img-code {

    img {
      width: 100%;
      margin-top: 29px;
      margin-bottom: 29px;
    }
  }
}
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .here-is-what-you-get {
    margin: auto;

    .here-is-what-you-get-heading {
      margin-left: 0;
      text-align: center;
      padding-top: 54px;
    }

    .here-is-what-you-get-list-list-content {
      display: block;

      .here-is-what-you-get-list {
        margin-top: 60px;

        .here-is-what-you-get-list-part {

          .here-is-what-you-get-list-part-txt {

            .here-is-what-you-get-list-part-txt-paragraph {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .here-is-what-you-get {
    margin: auto;
    text-align: center;
    .here-is-what-you-get-heading {
      margin-left: 0;
      text-align: center;
      padding-top: 34px;
    }
    .here-is-what-you-get-list-list-content {
      display: block;
      .here-is-what-you-get-list {
        margin-top: 34px;
        .here-is-what-you-get-list-part {
          display: block;
          padding-left: 24px;
          padding-right: 24px;
          .here-is-what-you-get-list-part-txt {
            margin-top: 29px;
            padding-left: 0;
            text-align: center;
            .here-is-what-you-get-list-part-txt-paragraph {
              width: 100%;
            }
          }
        }
      }
    }
  }
}