$white: #FFFFFF;
$violet: #8D81AC;

body {
  margin: 0;
  margin: auto;
  font-family: AdobeInvisFont,Lato-Bold, sans-serif;
  padding-left: 10px;
  padding-right: 10px;

  header,
  section {
    width: 100%;
  }

}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1201px){
  body {
    max-width: 1200px;
  }
}

