$white: #FFFFFF;
$violet: #8D81AC;

.revolutionary-editor {
  text-align: center;

  .revolutionary-editor-heading {
    display: inline-block;
    padding-top: 115px;
    font-size: 45px;
    font-weight: bold;
    color: $violet;
  }

  .revolutionary-editor-description {
    width: 100%;
    font-size: 17px;
    color: #323232;
    opacity: 0.8;
    margin: 30px auto auto;
  }

  .revolutionary-editor-desc-icons,
  .revolutionary-editor-desc-icons-icon {
    display: flex;
    justify-content: center;
  }

  .revolutionary-editor-desc-icons {
    margin-top: 45px;
    margin-bottom: 70px;

    .revolutionary-editor-desc-icons-icon-i,
    .revolutionary-editor-desc-icons-value {
      border: 1px #D5D5D5 solid;
    }

    .revolutionary-editor-desc-icons-icon-i {
      width: 79px;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
      height: 28px;
    }

    .revolutionary-editor-desc-icons-value {
      border-left: none;
      width: 59px;
      height: 26px;
      border-bottom-right-radius: 4px;
      border-top-right-radius: 4px;

      span {
        display: inline-block;
        margin-top: 5px;
      }

    }

    .revolutionary-editor-desc-icons-icon-second,
    .revolutionary-editor-desc-icons-icon-third {
      margin-left: 15px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .revolutionary-editor {
    .revolutionary-editor-heading {
      width: 100%;
      font-size: 30px;
    }
    .revolutionary-editor-desc-icons {
      .revolutionary-editor-desc-icons-icon-third {
        position: absolute;
        margin-top: 43px;
      }
    }
  }
}